<%- include('../partials/header'); -%>


<div class="topnav">
  <a type = "button" href = "/" class="btn btn-info">Home</a>    
  <a type = "button" href = "/searchReviews" method= "get" class="btn btn-info">Reviews</a>
  </div>
